.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Brand {
    font-size: 48px;
    font-weight: 700;
    transition: 0.4s;

    &:hover {
      opacity: 0.5;
    }
  }

  &Links {
    display: flex;
  }

  &Link {
    margin-left: 60px;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 300;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      font-weight: 700;
    }
  }
}