.searchInput{
    padding: 10px;
    border: 1px #000 solid;
    border-radius: 30px;
}
.searchButton{
    margin-left: 5px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px #000 solid;
    transition: 0.4s;
    &:hover{
        background-color: #000;
        color: #FFF;
    }
}
